@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

:root{
  --fonte-padrao: Arial, Helvetica, sans-serif;
  --fonte-destaque: "Bebas Neue", sans-serif;
  --fonte-android: 'Android', sans-serif;

}
* {
    margin: 0px;
    padding: 0px;
}
.corpo {
    background-color: #84E1AD;
    font-family: var(--fonte-padrao);
}
a.externo::after {
    content: '\1F517';
}
.cabeçalho {
    background-image: linear-gradient(to bottom, #2fbb9f, #3FCCB0, #3d8577);
    font-family: var(--fonte-destaque);
    color: white;
    text-align: center;
    padding: 10px 30px 0px 30px;
    margin: 0px;
    min-height: 150px;
}
.cabeçalho > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px #0000009e
}
.cabeçalho > p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}
#nav{
    background-color: #3d8577;
    text-align: left;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.378);

}
#nav > a {
    text-decoration: none;
    color: #c1efd5;
    font-weight: bold;
    padding: 10px; 
    transition-duration: .5s;           
}
#nav > a:hover {
    background-color: #ffffff;
    color: #3d8577;
}
.principal {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.388);
    min-width: 280px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.principal img {
    width: 80%;
}
.principal img.bug {
    max-width: 350px;
    display: block;
}
.principal p {
   margin: 15px 0px 15px 0px;
   text-align: justify;
   text-indent: 50px;
   font-size: 1em;
   line-height: 1.3em;
}
.principal strong{
    color: #3d8577;
    font-weight: bold;
}
.principal a {
    color: #ffffff;
    background-color: #3d8577;
    text-decoration: none;
    font-weight: bold;
    padding: 2px 6px;
}
.principal a:hover {
    background-color: #3FCCB0;
    color: white;
    transition-duration: .5s;
}
#sec1 {
    color: green;
    font-family: var(--fonte-android);
    text-align: left;
    font-weight: normal;
}
.h2{
    color: #ffffff;
    font-family: var(--fonte-android);
    font-weight: normal;
    background-image: linear-gradient(to left, #2fbb9f, #3FCCB0, #3d8577);
    padding: 5px 0px 5px 10px;
    margin-left: 3px;
}
.picture{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}
div.video{
    background-color: #3d8577;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}
div.video iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%
}
.aside {
    background-color: #cdffe3;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.374);
}
.aside > ul {
    list-style-position: inside;
    list-style-type: '\2714\00A0';
    columns: 2;
}
.aside > h3 {
    background-color:#3d8577;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
.rodape {
    background-color: #3d8577;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8em;
    text-align: center;
    margin: 0px;
    padding: 2px;
}
.rodape > p > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.rodape a:hover {
    text-decoration: underline;
    color: #a1fdeb;
    transition-duration: .3s;
}